@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/InriaSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Inria Sans';
  font-style: italic;
  font-weight: normal;
  src: url('./assets/fonts/InriaSans-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/InriaSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Inria Sans';
  font-style: italic;
  font-weight: 700;
  src: url('./assets/fonts/InriaSans-BoldItalic.ttf') format('truetype');
}

html, body, #app {
  border: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: auto;
  padding: 0;
  color: #27302B;
  font-family: 'Inria Sans', sans-serif;
  font-size: 16px;
  line-height: 23px;
}

h1 {
  color: #27302B;
  font-family: 'Inria Sans', sans-serif;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.25px;
  text-align: center;
}

button {
  font-family: Inria Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.4444443881511688px;
  text-align: center;
  padding: 7px 26px 10px;
  border: 1px solid #27302B;
  background: white;
  border-radius: 3px;
}

button:hover {
  background: #27302B;
  color: white;
}

button.yellow {
  background: #F2C94C;
  color: #27302B;
  border-color: transparent;
}
button.yellow:hover {
  background: #FFE081;
}

a {
  font-family: Inria Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.4444443881511688px;
  text-align: left;
  text-decoration: underline;
}

a:hover {
  color: #F2C94C;
}

.sync,
.home {
  height: 100%;
  width: 100%;
  border: 0;
  padding: 50px 0;
  margin: 0;
  overflow: auto;
  text-align: center;
}
.home {
  background: #F2C94C;
}
.sync img,
.home img {
  display: block;
  height: 200px;
  width: auto;
  margin: auto;
}

.home .content {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}
