node_modules
build

packages/*/build
packages/*/coverage
packages/*/node_modules
packages/*/src/**/*.js
packages/*/src/**/*.js.map
packages/ui/app/**/*.css
packages/ui/app/**/*.css.map
packages/ui/app/**/*.js
packages/ui/app/**/*.js.map
packages/ui/app/**/*.svg
packages/ui/app/index.html
packages/ui/dist
